workflows/n8n-supabase-workflow.json
{
  "name": "FinTrack - Integração Supabase",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fintrack",
        "authenticationType": "none",
        "responseMode": "responseNode"
      },
      "id": "e7d9ac15-a1c8-449f-9db8-e8c28f2241c8",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.action }}",
        "rules": {
          "rules": [
            {
              "value2": "signup",
              "type": "string"
            }
          ]
        }
      },
      "id": "f1c2d3e4-a1b2-c3d4-e5f6-a7b8c9d0e1f2",
      "name": "É Cadastro?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.action }}",
        "rules": {
          "rules": [
            {
              "value2": "login",
              "type": "string"
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-a7b8-c9d0-e1f2a3b4c5d6",
      "name": "É Login?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        450,
        450
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.action }}",
        "rules": {
          "rules": [
            {
              "value2": "addFundsToGoal",
              "type": "string"
            }
          ]
        }
      },
      "id": "d4e5f6a7-b8c9-d0e1-f2a3-b4c5d6e7f8a9",
      "name": "É Adicionar Fundos?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        450,
        600
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "email",
              "value": "={{ $json.data.email }}"
            },
            {
              "name": "password",
              "value": "={{ $json.data.password }}"
            },
            {
              "name": "username",
              "value": "={{ $json.data.username || $json.data.email.split('@')[0] }}"
            },
            {
              "name": "created_at",
              "value": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c5d6e7f8-a9b0-c1d2-e3f4-a5b6c7d8e9f0",
      "name": "Mapear Dados do Cadastro",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        650,
        250
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "email",
              "value": "={{ $json.data.email }}"
            },
            {
              "name": "password",
              "value": "={{ $json.data.password }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b4c5d6e7-f8a9-b0c1-d2e3-f4a5b6c7d8e9",
      "name": "Mapear Dados do Login",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        650,
        450
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "goalId",
              "value": "={{ $json.data.goalId }}"
            },
            {
              "name": "amount",
              "value": "={{ $json.data.amount }}"
            },
            {
              "name": "currentAmount",
              "value": "={{ $json.data.currentAmount }}"
            },
            {
              "name": "updated_at",
              "value": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f4a5b6c7-d8e9-f0a1-b2c3-d4e5f6a7b8c9",
      "name": "Mapear Dados da Meta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        650,
        600
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "table": "users",
        "schema": "public",
        "valueToMatch": "={{ $json.email }}",
        "columnToMatchOn": "email",
        "columns": "={{ Object.entries($json).map(entry => ({column: entry[0], value: entry[1]})) }}"
      },
      "id": "a9b0c1d2-e3f4-a5b6-c7d8-e9f0a1b2c3d4",
      "name": "Criar Usuário (Supabase)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        850,
        250
      ],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": "users",
        "schema": "public",
        "where": {
          "conditions": [
            {
              "column": "email",
              "condition": "=",
              "value": "={{ $json.email }}"
            },
            {
              "column": "password",
              "condition": "=",
              "value": "={{ $json.password }}"
            }
          ],
          "combinator": "AND"
        }
      },
      "id": "e3f4a5b6-c7d8-e9f0-a1b2-c3d4e5f6a7b8",
      "name": "Verificar Usuário (Supabase)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        850,
        450
      ],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "table": "goals",
        "schema": "public",
        "columns": {
          "column": [
            {
              "column": "current_amount",
              "value": "={{ $json.currentAmount }}"
            },
            {
              "column": "updated_at",
              "value": "={{ $json.updated_at }}"
            }
          ]
        },
        "where": {
          "conditions": [
            {
              "column": "id",
              "condition": "=",
              "value": "={{ $json.goalId }}"
            }
          ]
        }
      },
      "id": "c3d4e5f6-a7b8-c9d0-e1f2-a3b4c5d6e7f8",
      "name": "Atualizar Meta (Supabase)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        850,
        600
      ],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase API"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "É Cadastro?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Cadastro?": {
      "main": [
        [
          {
            "node": "Mapear Dados do Cadastro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É Login?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Login?": {
      "main": [
        [
          {
            "node": "Mapear Dados do Login",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É Adicionar Fundos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Adicionar Fundos?": {
      "main": [
        [
          {
            "node": "Mapear Dados da Meta",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Mapear Dados do Cadastro": {
      "main": [
        [
          {
            "node": "Criar Usuário (Supabase)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapear Dados do Login": {
      "main": [
        [
          {
            "node": "Verificar Usuário (Supabase)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapear Dados da Meta": {
      "main": [
        [
          {
            "node": "Atualizar Meta (Supabase)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}